.header {
  background-color: #ffd6dc;
}

.navbar {
  max-width: 1200px;
  width: 90%;
  margin: auto;
  padding: 15px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  max-width: 180px;
  max-height: 40px;
}

.logo img {
  max-height: 40px;
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.menu {
  display: flex;
  align-items: center;
  padding: 0; 
  margin: 0;
   list-style-type: none; 
   text-decoration: none;
 
}

.menu li {
  margin: 0 20px;
 
}

.menu li a {
  color: #4d4d4d;
  letter-spacing: 0.5px;
  font-weight: 500;
  font-size: 0.9rem;
  transition: all ease 0.3s;
   text-decoration: none;
}

.menu li a:hover {
  color: var(--main-dark);
}

.nav-btns {
  display: flex;
  align-items: center;
}

.nav-btns a {
  margin-left: 20px;
}

.nav-btns a svg {
  fill: #3f3f3f;
  height: 18px;
  width: 20px;
}

.nav-cart {
  position: relative;
}

.nav-user-dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 140px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  right: 0;
}

.dropdown-content a {
  color: black;
  padding: 8px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
  background-color: #d48fbc;
}

.nav-user-dropdown:hover .dropdown-content {
  display: block;
}

/* Footer Styles */
.footer {
  background-color: rgb(209, 199, 204);
  color: #000000;
  padding: 40px 0;
}

.footer__container {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 30px;
  align-items: start;
}

.footer__content {
  margin-bottom: 20px;
}

.footer__logo {
  display: block;
  margin-bottom: 20px;
}

.footer__logo-img {
  max-width: 150px;
}

.footer__contact {
  grid-column: 1;
}

.footer__subtitle {
  font-size: 18px;
  margin-bottom: 10px;
  color: #000000;
}

.footer__description {
  margin-bottom: 10px;
  color: #000000;
}

.footer__description span {
  font-weight: bold;
  color: #000000;
}

.footer__social {
  margin-top: 20px;
}

.footer__links.flex {
  display: flex;
  gap: 10px;
}

.footer__social-icon {
  width: 24px;
  height: 24px;
  transition: transform 0.3s ease;
}

.footer__social-icon:hover {
  transform: scale(1.1);
}

.footer__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.footer__links {
  list-style: none;
  padding: 0;
}

.footer__link {
  display: block;
  margin-bottom: 10px;
  color: #000000;
  text-decoration: none;
  transition: color 0.3s;
}

.footer__link:hover {
  color: #c75365;
}

.payment__img {
  max-width: 100%;
  margin-top: 20px;
}

.footer__bottom {
  text-align: center;
  padding: 10px 0;
  border-top: 1px solid #e1e1e1;
  margin-top: 12px;
}

.copyright {
  margin-bottom: 2px;
}

.designer {
  color: #2d1a1a;
}

@media (max-width: 768px) {
  .footer__container {
    grid-template-columns: 1fr 1fr;
  }
}

@media (max-width: 480px) {
  .footer__container {
    grid-template-columns: 1fr;
  }
}