#products {
    list-style-type: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

#products li {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 20px 20px;
    margin: 10px 0;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: relative;
}

#products .product-details {
    position: relative;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

#products .product-details.out-of-stock:before {
    content: "Out of stock";
    position: absolute;
    top: -25%;
    left: 0;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 0 0 0 5px;
    font-size: 0.8em;
}

#products img {
    border-radius: 5px;
    margin-right: 15px;
    width: 200px;
    height: 200px;
    object-fit: contain;
}

#products .type {
    background-color: #f74b65;
    color: white;
    padding: 5px 10px;
    border-radius: 30px;
    font-size: 0.8em;
    margin-top: 10px;
    width: fit-content;
}

#products strong {
    font-size: 1.2em;
    margin-right: 10px;
}

#products .price {
    font-weight: bold;
    font-size: 1.2em;
    margin-top: 10px;
}

#products .product-actions {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main {
    padding: 20px;
    background: #fff;
}

.wishlist-heart,
.add-to-cart {
    cursor: pointer;
    font-size: 24px;
    margin-left: 10px;
}

.wishlist-heart {
    color: #ccc;
    position: absolute;
    top: 10px;
    right: 20px;
    transition: color 0.3s ease;
}

.wishlist-heart:hover {
    color: #f74b65;
}

.wishlist-heart.active {
    color: red;
}

.add-to-cart {
    color: #4CAF50;
}

.add-to-cart.out-of-stock {
    color: #ccc;
    cursor: not-allowed;
}

#product-list {
    list-style-type: none;
    padding: 0;
}

#product-list li {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#product-list li>* {
    margin-right: 10px;
}

.quantity-control {
    display: flex;
    align-items: center;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    font-size: 18px;
    border: none;
    background-color: #f0f0f0;
    cursor: pointer;
    border-radius: 5px;

}

.quantity-control input {
    width: 40px;
    height: 30px;
    text-align: center;
    font-size: 16px;
    border: 1px solid #ddd;
}

.add-to-cart-btn {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;

}

.add-to-cart-btn:disabled,
.add-to-cart-btn.out-of-stock {
    background-color: #ccc;
    cursor: not-allowed;
}

.add-to-cart-btn.out-of-stock:hover {
    background-color: #ccc;
}

.add-to-cart-btn:hover {
    background-color: #45a049;
}

input[type="submit"]:disabled {
    background-color: #cccccc;
    cursor: not-allowed; 
}

