.form {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    background-color: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 102;
  }
  
  .login-form ,
  .sign-up-form{
    max-width: 420px;
    width: 100%;
    padding: 20px 10px;
    background-color: #ffffff; 
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    position: relative;
    border-radius: 5px;
  }
  
  .login-form form ,.sign-up-form form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  
  .login-form strong ,
  .sign-up-form strong {
    color: #272727;
    font-size: 2rem;
    margin: 2px 7px 7px 7px;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    font-weight: 500;
  }
  
  .login-form input ,
  .sign-up-form input {
    width: 90%;
    height: 45px;
    margin: 6px 0px;
    padding: 0px 10px; 
    border: 1px solid rgba(0, 0, 0, 0.1);
    outline: none;
    border-radius: 7px;
  }
  
  .login-form input::placeholder ,
  .sign-up-form input::placeholder{
    color: rgba(0, 0, 0, 0.5);
  }
  
  .login-form input[type="submit"] ,
  .sign-up-form input[type="submit"]{
    color: #ffffff;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
    margin-top: 10px;
    border-radius: 3px;
    background-color: #f74b65;
    box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.1);
  }
  
  .form-btns {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    grid-gap: 10px;
  }
  
  .form-btns a{
    color: #4d4d4d;
    font-size: 0.9rem;
  }
  
  .form-btns a:hover{
  color: #f74b65;
  text-decoration: underline;
  }
  .form,
  .login-form,.sign-up-form{
    display: flex;
  }
  
  .login-active, .login-active .login-form, 
  .sign-up-active,.sign-up-active .sign-up-form{
    display: flex;
  }