<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Flowers store</title>
  <link rel="stylesheet" href="../static/css/styles.css" />
  <link rel="stylesheet" href="../static/css/nav.css" />
  <link rel="stylesheet" href="../static/css/blog.css" />
  <link rel="shortcut icon" href="../static/images/fav-icon.png" />
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
</head>

    
    
<body>
  <section id="main">
    <header class="header">
      <nav class="navbar">
        <a href="/base" class="logo">
          <img src="../static/images/log2.png" alt="Logo">
        </a>
        <ul class="menu">
          <li><a href="/base">Home</a></li>
          <li><a href="/shop">Shop</a></li>
          <li><a href="#about-us">About Us</a></li>
          <li><a href="#blog">Blog</a></li>
        </ul>
        <div class="nav-btns">
          <a href="{{ url_for('wishlist') }}" class="nav-search">
            <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
              <title>121 heart</title>
              <g id="_01_align_center" data-name="01 align center">
                <path d="M17.5.917a6.4,6.4,0,0,0-5.5,3.3A6.4,6.4,0,0,0,6.5.917,6.8,6.8,0,0,0,0,7.967c0,6.775,10.956,14.6,11.422,14.932l.578.409.578-.409C13.044,22.569,24,14.742,24,7.967A6.8,6.8,0,0,0,17.5.917ZM12,20.846c-3.253-2.43-10-8.4-10-12.879a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,11,7.967h2a4.8,4.8,0,0,1,4.5-5.05A4.8,4.8,0,0,1,22,7.967C22,12.448,15.253,18.416,12,20.846Z" />
              </g>
            </svg>
          </a>
          <a href="{{ url_for('cart') }}" class="nav-cart">
            <svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 24 24">
              <title>109 shopping bag</title>
              <g id="_01_align_center" data-name="01 align center">
                <path d="M18,6A6,6,0,0,0,6,6H0V21a3,3,0,0,0,3,3H21a3,3,0,0,0,3-3V6ZM12,2a4,4,0,0,1,4,4H8A4,4,0,0,1,12,2ZM22,21a1,1,0,0,1-1,1H3a1,1,0,0,1-1-1V8H6v2H8V8h8v2h2V8h4Z" />
              </g>
            </svg>
          </a>
          <div class="nav-user-dropdown">
            <a href="#" class="nav-user">
              <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path d="M304 128a80 80 0 1 0 -160 0 80 80 0 1 0 160 0zM96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM49.3 464H398.7c-8.9-63.3-63.3-112-129-112H178.3c-65.7 0-120.1 48.7-129 112zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3z" />
              </svg>
            </a>
            <div class="dropdown-content">
              <a href="{{ url_for('login') }}">Login</a>
              <a href="{{ url_for('signup') }}">Sign Up</a>
              <a href="{{ url_for('profile') }}">Profile</a>
              <a href="{{ url_for('logout') }}" class="logout-button">Logout</a>
            </div>
          </div>
      </nav>
    </header>
    <div class="share-love-container">
      <h1 style="justify-content: center;"> Top 5 Flowers for Every Occasion</h1><br>
      <p>

        Flowers have the power to brighten any moment and convey deep emotions. Here’s a quick guide to the top 5 flowers that are perfect for any occasion:
        
        1. Roses – For Love and Romance
        Roses are classic symbols of love, making them ideal for romantic occasions like anniversaries or Valentine’s Day. Red roses signify passion, while pink shows admiration and white symbolizes new beginnings.
        
        Best for: Anniversaries, Valentine’s Day, Romantic Gestures
        
        2. Lilies – For Sympathy and Support
        Lilies represent purity and peace, often chosen to convey sympathy and provide comfort in difficult times.
        
        Best for: Funerals, Condolences, Memorial Services
        
        3. Tulips – For Friendship and Celebrations
        Tulips are versatile and cheerful, symbolizing friendship and new beginnings. They’re perfect for birthdays, housewarmings, and celebrations.
        
        Best for: Birthdays, Housewarmings, Celebrations
        
        4. Sunflowers – For Happiness and Positivity
        Sunflowers bring warmth and joy, making them perfect for uplifting someone’s mood or celebrating achievements.
        
        Best for: Graduations, Promotions, Get Well Soon
        
        5. Orchids – For Elegance and Luxury
        Orchids are elegant and exotic, symbolizing beauty and strength. They are ideal for formal events or when making a luxurious statement.
        
        Best for: Anniversaries, Milestone Birthdays, Formal Occasions
        
        Choose the perfect flower for your occasion and make every moment memorable!
       to one another—in the plant's case, a means of reproduction; in the pollinator's case, a source of food.
      </p>
      <br>
        <h2 class="share-love-title">Share your love</h2>
        <div class="share-love-icons">
            <a href="#" class="share-icon facebook">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M9 8h-3v4h3v12h5v-12h3.642l.358-4h-4v-1.667c0-.955.192-1.333 1.115-1.333h2.885v-5h-3.808c-3.596 0-5.192 1.583-5.192 4.615v3.385z"/>
                </svg>
            </a>
            <a href="#" class="share-icon twitter">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M24 4.557c-.883.392-1.832.656-2.828.775 1.017-.609 1.798-1.574 2.165-2.724-.951.564-2.005.974-3.127 1.195-.897-.957-2.178-1.555-3.594-1.555-3.179 0-5.515 2.966-4.797 6.045-4.091-.205-7.719-2.165-10.148-5.144-1.29 2.213-.669 5.108 1.523 6.574-.806-.026-1.566-.247-2.229-.616-.054 2.281 1.581 4.415 3.949 4.89-.693.188-1.452.232-2.224.084.626 1.956 2.444 3.379 4.6 3.419-2.07 1.623-4.678 2.348-7.29 2.04 2.179 1.397 4.768 2.212 7.548 2.212 9.142 0 14.307-7.721 13.995-14.646.962-.695 1.797-1.562 2.457-2.549z"/>
                </svg>
            </a>
            <a href="#" class="share-icon pinterest">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M12 0c-6.627 0-12 5.372-12 12 0 5.084 3.163 9.426 7.627 11.174-.105-.949-.2-2.405.042-3.441.218-.937 1.407-5.965 1.407-5.965s-.359-.719-.359-1.782c0-1.668.967-2.914 2.171-2.914 1.023 0 1.518.769 1.518 1.69 0 1.029-.655 2.568-.994 3.995-.283 1.194.599 2.169 1.777 2.169 2.133 0 3.772-2.249 3.772-5.495 0-2.873-2.064-4.882-5.012-4.882-3.414 0-5.418 2.561-5.418 5.207 0 1.031.397 2.138.893 2.738.098.119.112.224.083.345l-.333 1.36c-.053.22-.174.267-.402.161-1.499-.698-2.436-2.889-2.436-4.649 0-3.785 2.75-7.262 7.929-7.262 4.163 0 7.398 2.967 7.398 6.931 0 4.136-2.607 7.464-6.227 7.464-1.216 0-2.359-.631-2.75-1.378l-.748 2.853c-.271 1.043-1.002 2.35-1.492 3.146 1.124.347 2.317.535 3.554.535 6.627 0 12-5.373 12-12 0-6.628-5.373-12-12-12z" fill-rule="evenodd" clip-rule="evenodd"/>
                </svg>
            </a>
            <a href="#" class="share-icon linkedin">
                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="white">
                    <path d="M4.98 3.5c0 1.381-1.11 2.5-2.48 2.5s-2.48-1.119-2.48-2.5c0-1.38 1.11-2.5 2.48-2.5s2.48 1.12 2.48 2.5zm.02 4.5h-5v16h5v-16zm7.982 0h-4.968v16h4.969v-8.399c0-4.67 6.029-5.052 6.029 0v8.399h4.988v-10.131c0-7.88-8.922-7.593-11.018-3.714v-2.155z"/>
                </svg>
            </a>
        </div>
    </div>
  </section>
  <footer class="footer container">
    <div class="footer__container grid">
      <div class="footer__content footer__contact">
        <a href="index.html" class="footer__logo">
          <img src="../static/images/log2.png" alt="" class="footer__logo-img" />
        </a>
        <h4 class="footer__subtitle">Contact</h4>
        <p class="footer__description">
          <span>Address:</span> 13 Tlemcen Road, Street 32, Beb-Wahren
        </p>
        <p class="footer__description">
          <span>Phone:</span> +01 2222 365 /(+91) 01 2345 6789
        </p>
        <p class="footer__description">
          <span>Hours:</span> 10:00 - 18:00, Mon - Sat
        </p>
        <div class="footer__social">
          <h4 class="footer__subtitle">Follow Me</h4>
          <div class="footer__links flex">
            <a href="shorok_m_atwa">
              <img src="../static/images/icon-facebook.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="s147_">
              <img src="../static/images/icon-twitter.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="shorokatwa14">
              <img src="../static/images/icon-instagram.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="shorokatwa">
              <img src="../static/images/icon-pinterest.svg" alt="" class="footer__social-icon" />
            </a>
            <a href="shorokatwa">
              <img src="../static/images/icon-youtube.svg" alt="" class="footer__social-icon" />
            </a>
          </div>
        </div>
      </div>
      <div class="footer__content">
        <h3 class="footer__title">Address</h3>
        <ul class="footer__links">
          <li><a href="base#about-us" class="footer__link">About Us</a></li>
          <li><a href="base#" class="footer__link">Delivery Information</a></li>
          <li><a href="base#" class="footer__link">Privacy Policy</a></li>
          <li><a href="base#" class="footer__link">Terms & Conditions</a></li>
          <li><a href="base#delivery" class="footer__link">Contact Us</a></li>
          <li><a href="base#delivery" class="footer__link">Support Center</a></li>
        </ul>
      </div>
      <div class="footer__content">
        <h3 class="footer__title">My Account</h3>
        <ul class="footer__links">
          <li><a href="{{ url_for('login') }}" class="footer__link">Log In</a></li>
          <li><a href="{{ url_for('signup') }}" class="footer__link">Sign Up</a></li>
          <li><a href="{{ url_for('cart') }}" class="footer__link">View Cart</a></li>
          <li><a href="{{ url_for('wishlist') }}" class="footer__link">My Wishlist</a></li>
          <li><a href="base#delivery" class="footer__link">Help</a></li>
          <li><a href="{{ url_for('shop') }}" class="footer__link">Shop</a></li>
        </ul>
      </div>
      <div class="footer__content">
        <h3 class="footer__title">Secured Payed Gateways</h3>
        <img src="../static/images/payment-method.png" alt="" class="payment__img" />
      </div>
    </div>
    <div class="footer__bottom">
      <p class="copyright">&copy; 2024 Flowers. All right reserved</p>
      <span class="designer">Designer by Shorok Mohamed</span>
    </div>
  </footer>
  <script src="../static/js/nav.js"></script>
  <script src="../static/js/logout.js"></script>
</body>

</html>