<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart</title>
    <link rel="stylesheet" href="../static/css/cart.css">
</head>
<style>
 .button.disabled {
    opacity: 0.5;
    cursor: not-allowed;
} </style>
<body>
    
    <h1>Your Shopping Cart</h1>
    <table>
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Quantity</th>
                <th>Subtotal</th>
                <th>Remove</th>
            </tr>
        </thead>
        <tbody id="cart-items">
        </tbody>
    </table>

    <div class="button-container">
        <a class="button" href="{{ url_for('shop') }}">Continue Shopping</a>
        <a class="button" id="checkout-button" href="{{ url_for('checkout') }}">Proceed To Checkout</a>
    </div>

    <div class="cart-totals">
        <h2>Cart Totals</h2>
        <table>
            <tr>
                <td>Cart Subtotal</td>
                <td id="subtotal">$0.00</td>
            </tr>
            <tr>
                <td>Shipping</td>
                <td id="shipping">Free Shipping</td>
            </tr>
            <tr>
                <td>Total</td>
                <td id="total">$0.00</td>
            </tr>
        </table>
    </div>

    <script>
        const productsUrl = "{{ url_for('get_products') }}";
    </script>

    <script src="../static/js/cart.js"></script>
</body>
</html>
