<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Forgot Password</title>
  <link rel="stylesheet" href="../static/css/pass.css"/>
  <link rel="shortcut icon" href="../static/images/fav-icon.png"/>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap" rel="stylesheet">
</head>
<body>
  <div class="form">
    <div class="forgot-password-form">
      <strong>Forgot Password</strong>
      <form action="/pass" method="post">
        <input type="email" name="email" placeholder="Enter your email" required/>
        <input type="text" name="security_question" placeholder="What is your mother's maiden name?" required/>
        <input type="submit" value="Continue"/>
      </form>
    </div>
  </div>
</body>
</html>
